# Winning Jeopardy

In [1]:
import pandas
import csv

jeopardy = pandas.read_csv("C:/Users/dasarr/Downloads/DDDD/DDDD/data-master/JEOPARDY_CSV.csv")

jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach t...,the cud
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to ta...,Ceylon (or Sri Lanka)
13,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse ...",Jim Brown
14,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"On June 28, 1994 the nat'l weather service beg...",the UV index
15,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$600,"This company's Accutron watch, introduced in 1...",Bulova
16,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$600,"Outlaw: ""Murdered by a traitor and a coward wh...",Jesse James
17,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$600,"A small demon, or a mischievous child (who mig...",imp
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,Karl led the first of these Marxist organizati...,the International
19,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,No. 10: FB/LB for Columbia U. in the 1920s; MV...,(Lou) Gehrig
20,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$800,Africa's lowest temperature was 11 degrees bel...,Morocco
21,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$800,Edward Teller & this man partnered in 1898 to ...,(Paul) Bonwit
22,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,"$2,000","1939 Oscar winner: ""...you are a credit to you...",Hattie McDaniel (for her role in Gone with the...
23,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$800,"In geologic time one of these, shorter than an...",era
24,4680,2004-12-31,Jeopardy!,HISTORY,$1000,This Asian political party was founded in 1885...,the Congress Party
25,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$1000,No. 5: Only center to lead the NBA in assists;...,(Wilt) Chamberlain
26,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$1000,"The Kirschner brothers, Don & Bill, named this...",K2
27,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$1000,"Revolutionary War hero: ""His spirit is in Verm...",Ethan Allen
28,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$1000,"A single layer of paper, or to perform one's c...",ply
29,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-1...",Horton
...,...,...,...,...,...,...,...
216900,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$400,This Baldwin brother was extremely entertainin...,Alec Baldwin
216901,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$400,He used the strength of his mind when he propo...,Samson
216902,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$400,Common species of this duck include blue-winge...,the teal
216903,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$400,"As a child, Joseph Conrad pointed to the cente...",Africa
216904,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$400,"In 1981 he quipped, ""You can tell a lot about ...",Ronald Reagan
216905,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,$800,It has a museum devoted to composer Zoltan Kodaly,Budapest
216906,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$800,"""Red Light Winter"" centers on a love triangle ...",Amsterdam
216907,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$800,Sphinx: What animal walks on 4 legs in the mor...,man
216908,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$800,"Toco, the largest species of this colorful bir...",a toucan
216909,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$800,Poet Gregory Corso went on the beat path after...,Allen Ginsberg
216910,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$800,"In his prime this athlete said, It's hard to b...",Muhammad Ali
216911,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,$1200,It's home to the Holmenkollen ski jump,Oslo
216912,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$1200,"We'd like to ""enlighten"" you about the musical...",Siddhartha
216913,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$1200,"He created the musical riddles called the ""Eni...",(Edward) Elgar
216914,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$1200,One species of this bird breeds in the Arctic ...,a tern
216915,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$1200,In his teens he worked in an assistant D.A.'s ...,(Erle Stanley) Gardner
216916,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,"$2,200","Oscar Wilde called this 4-letter word ""the cur...",work
216917,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,"$3,400",Guyanese capital named for a Hanoverian monarch,Georgetown
216918,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$1600,"A naughty 18th c. novel originally titled ""Mem...",Fanny Hill
216919,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$1600,"If this riddling Belgian surrealist painter, b...",Magritte
216920,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$1600,Nightingales & robins belong to this family of...,thrushes
216921,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$1600,Her hotsy-totsy diaries trace back to one she ...,Anaïs Nin
216922,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$1600,"A motto of hers was ""in politics, if you want ...",(Margaret) Thatcher
216923,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,$2000,It's on the Suriname River,Paramaribo
216924,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$2000,In 2006 the cast of this long-running hit emba...,Stomp
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,In North America this term is properly applied...,a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

In [2]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
import re

def normalize_text(text):
    text = text.lower()
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    return text

def normalize_values(text):
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    try:
        text = int(text)
    except Exception:
        text = 0
    return text

In [8]:
jeopardy["clean_question"] = jeopardy[" Question"].apply(normalize_text)
jeopardy["clean_answer"] = jeopardy[" Answer"].apply(normalize_text)
jeopardy["clean_value"] = jeopardy[" Value"].apply(normalize_values)

In [10]:
jeopardy[" Air Date"] = pandas.to_datetime(jeopardy[" Air Date"])

In [11]:
jeopardy.dtypes

Show Number                int64
 Air Date         datetime64[ns]
 Round                    object
 Category                 object
 Value                    object
 Question                 object
 Answer                   object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

In [12]:
def count_matches(row):
    split_answer = row["clean_answer"].split(" ")
    split_question = row["clean_question"].split(" ")
    if "the" in split_answer:
        split_answer.remove("the")
    if len(split_answer) == 0:
        return 0
    match_count = 0
    for item in split_answer:
        if item in split_question:
            match_count += 1
    return match_count / len(split_answer)

jeopardy["answer_in_question"] = jeopardy.apply(count_matches, axis=1)

In [13]:
jeopardy["answer_in_question"].mean()

0.05935758718396511

## Answer terms in the question

The answer only appears in the question about 6% of the time. This isn't a huge number, and means that we probably can't just hope that hearing a question will enable us to figure out the answer. We'll probably have to study.

In [14]:
question_overlap = []
terms_used = set()
for i, row in jeopardy.iterrows():
        split_question = row["clean_question"].split(" ")
        split_question = [q for q in split_question if len(q) > 5]
        match_count = 0
        for word in split_question:
            if word in terms_used:
                match_count += 1
        for word in split_question:
            terms_used.add(word)
        if len(split_question) > 0:
            match_count /= len(split_question)
        question_overlap.append(match_count)
jeopardy["question_overlap"] = question_overlap

jeopardy["question_overlap"].mean()

0.87351255580876752

## Question overlap
There is about 87% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

In [15]:
def determine_value(row):
    value = 0
    if row["clean_value"] > 800:
        value = 1
    return value

jeopardy["high_value"] = jeopardy.apply(determine_value, axis=1)

In [16]:
def count_usage(term):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        if term in row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

comparison_terms = list(terms_used)[:5]
observed_expected = []
for term in comparison_terms:
    observed_expected.append(count_usage(term))

observed_expected

[(1, 2), (4, 4), (0, 2), (1, 0), (1, 0)]

In [17]:
from scipy.stats import chisquare
import numpy as np

high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.037234093889071389, pvalue=0.846989214486915),
 Power_divergenceResult(statistic=1.8535457779343205, pvalue=0.17337156193933898),
 Power_divergenceResult(statistic=0.78995292846670262, pvalue=0.37411435927449888),
 Power_divergenceResult(statistic=2.5317964247338085, pvalue=0.11157312838169751),
 Power_divergenceResult(statistic=2.5317964247338085, pvalue=0.11157312838169751)]

## Chi-squared results
None of the terms had a significant difference in usage between high value and low value rows. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.